body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color:black;
}

#home-title {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

ul, li {
    display: block;
    list-style-type: none;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 10px;
}

p {
    margin: 15px;
    padding: auto;
}

h3 {
    margin: 15px;
    text-decoration: underline;
    
}



